<a href="https://colab.research.google.com/github/BethanyJep/Python-REFRESHER/blob/master/Classification_task_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Classification task  - Loans

The data consist of data of customers who were given loans in a given data of data of customers who were given loans in a given customrs who wr givn loans in a givn
priod data attributs ar xplaind th customr Loan Status was , , _
rcordd.

Customers who df data of customers who were given loans in a given aultd ar given 

Loan task Status _ = 0, Customers who

compltd thir paymnts in tim ar givn Loan task Status _ = 1

Loan task Status is the outcome variable. outcome outcome variable. variable outcome variable.

In [2]:
import pandas 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.ensemble import GradientBoostingClassifier

from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

from imblearn.over_sampling import SMOTE
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [3]:
df  = pandas.read_csv("https://modkenya.com/datascience/datasets/credit_dataset.csv")
df.head()

   Gender  Married  Dependents  ...  Housing  Locality  Loan_Status
0       1        0           0  ...        1         1            0
1       1        1           1  ...        1         3            1
2       1        1           0  ...        1         1            1
3       1        1           0  ...        1         1            1
4       1        0           0  ...        1         1            0

[5 rows x 13 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827 entries, 0 to 826
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender                    827 non-null    int64
 1   Married                   827 non-null    int64
 2   Dependents                827 non-null    int64
 3   Education                 827 non-null    int64
 4   Self_Employed             827 non-null    int64
 5   ApplicantIncome           827 non-null    int64
 6   CoapplicantIncome         827 non-null    int64
 7   LoanAmount                827 non-null    int64
 8   Loan_Term                 827 non-null    int64
 9   Credit_History_Available  827 non-null    int64
 10  Housing                   827 non-null    int64
 11  Locality                  827 non-null    int64
 12  Loan_Status               827 non-null    int64
dtypes: int64(13)
memory usage: 84.1 KB

In [5]:
df.corr()

                            Gender   Married  ...  Locality  Loan_Status
Gender                    1.000000  0.355319  ... -0.002798     0.309570
Married                   0.355319  1.000000  ... -0.019892     0.825064
Dependents                0.121868  0.375512  ... -0.012152     0.315421
Education                -0.080883 -0.034168  ... -0.103206    -0.037406
Self_Employed             0.256583  0.829158  ... -0.049677     0.688170
ApplicantIncome           0.010382  0.071710  ... -0.018499     0.066347
CoapplicantIncome         0.116468  0.106108  ...  0.003190     0.120304
LoanAmount                0.089613  0.175254  ...  0.022021     0.164087
Loan_Term                -0.074194 -0.108588  ...  0.084809    -0.097339
Credit_History_Available -0.019499 -0.085615  ... -0.005251    -0.239512
Housing                  -0.006226 -0.093419  ...  0.071800    -0.082534
Locality                 -0.002798 -0.019892  ...  1.000000    -0.030530
Loan_Status               0.309570  0.825064  ... -0.030530     1.000000

[13 rows x 13 columns]

In [6]:
df.describe()

           Gender     Married  Dependents  ...     Housing    Locality  Loan_Status
count  827.000000  827.000000  827.000000  ...  827.000000  827.000000   827.000000
mean     0.733978    0.481258    0.652963  ...    0.654172    1.978235     0.576784
std      0.442143    0.499951    0.935835  ...    0.475925    0.771471     0.494368
min      0.000000    0.000000    0.000000  ...    0.000000    1.000000     0.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    1.000000     0.000000
50%      1.000000    0.000000    0.000000  ...    1.000000    2.000000     1.000000
75%      1.000000    1.000000    1.000000  ...    1.000000    3.000000     1.000000
max      1.000000    1.000000    3.000000  ...    1.000000    3.000000     1.000000

[8 rows x 13 columns]

In [7]:

# step 1
array = df.values
X = array[:, 0:10]
Y = array[:,10]

# Step 2: split X, Y into 2 parts , training/testing
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, test_size = 0.30, random_state=42)

In [8]:
# Spot Check Algorithms
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))

In [9]:
# evaluate each model in turn

for name, model in models:
      kfold = model_selection.KFold(n_splits=10, random_state=62)
      cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
      print(name, cv_results.mean())

LR 0.6434361766485178
LDA 0.646854204476709

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

KNN 0.6434966727162734
CART 0.6038717483363581
NB 0.63832425892317
SVM 0.6520568663036903

In [10]:
model = LinearDiscriminantAnalysis()
model.fit(X_train,Y_train)

# ask the model to predict the xtest as you hide the y -test
predictions = model.predict(X_test)

In [11]:
# check accuracy score
print(accuracy_score(Y_test, predictions))

0.6465863453815262

In [12]:
# check classification report score
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.29      0.02      0.04        85
           1       0.66      0.97      0.78       164

    accuracy                           0.65       249
   macro avg       0.47      0.50      0.41       249
weighted avg       0.53      0.65      0.53       249

In [13]:
# Feature Elimination  - This will get the top  5 features that affect the outcome diabetes
random_forest = RandomForestClassifier()
# now use RFE with random forest
rfe = RFE(random_forest, n_features_to_select=5)
# fit X, Y into rfe
rfe_fit = rfe.fit(X,Y)

# Show the features, they are shown as True
print('Number of features', rfe_fit.n_features_)
print('Top  4 features affecting outcome', rfe_fit.support_)

Number of features 5
Top  4 features affecting outcome [False False  True False False  True  True  True  True False]